<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>
  {{> head}}
  {{#if svgObj.started}}
    <meta http-equiv="refresh" content="5">
  {{/if}}
</head>

<body>
  {{> nav}}

  <section class="hero is-primary">
    <div class="hero-body shader">
      <div class="container">
        <p class="title is-size-1 has-text-weight-bold mb-0">
          MVPT
        </p>
        <p class="subtitle has-text-weight-bold pt-5">
          Minimum Viable Plotter Tool
        </p>
      </div>
    </div>
  </section>

  <section class="section has-background-white-ter" style="padding: 1rem 1.5rem">
    <div class="container">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dir">Select Directory</a></li>
          {{#if newDir}}
            <li class="is-active"><a href="#" aria-current="page">{{newDir}}</a></li>
          {{/if}}
        </ul>
      </nav>
    </div>
  </section>

  {{#if version}}
    <section class="section has-background-white">
      <div class="container">
        <pre>{{version}}</pre>
      </div>
    </section>
    <hr>
  {{/if}}

  {{#if sysinfo}}
    <section class="section has-background-white">
      <div class="container">
        <pre>{{sysinfo}}</pre>
      </div>
    </section>
    <hr>
  {{/if}}

  {{#if svgfile}}
    <section class="section has-background-white">
      <div class="container">
        <h2 class="title is-4">{{svgfile}}</h2>

        {{#if svgObj.started}}
          <div>
            <table class="table mb-5 has-background-info-light is-fullwidth is-striped">
              <tr>
                <td width="25%">Elapsed</td>
                <td>{{durationPrecise svgObj.started null}}</td>
              </tr>
              <tr>
                <td>Remaining time</td>
                <td>{{durationPrecise null svgObj.endTime}}</td>
              </tr>
              <tr>
                <td>End time</td>
                <td>{{timePrettyShort svgObj.endTime}}</td>
              </tr>
              <tr>
                <td colspan="2"><progress class="progress is-large is-primary" value="{{svgObj.percent}}"
                    max="100">{{svgObj.percent}}%</progress></td>
              </tr>
            </table>
          </div>
        {{/if}}

        {{#if svgObj.time}}
          <table class="table mb-5">
            <tr>
              <td>Plot time:</td>
              <td>
                {{#if svgObj.time.hours}}{{svgObj.time.hours}}h {{/if}}
                {{#if svgObj.time.minutes}}{{svgObj.time.minutes}}m {{/if}}
                {{#if svgObj.time.seconds}}{{svgObj.time.seconds}}s {{/if}}
              </td>
            </tr>
            <tr>
              <td>Distance</td>
              <td>{{svgObj.distance}}m</td>
            </tr>
            <tr>
              <td>Completion time:</td>
              <td>{{timePrettyShort svgObj.time.futureTime}}</td>
            </tr>
            <tr>
              <td>Using constant speed</td>
              <td>{{#if svgObj.constSpeed}}True{{else}}False{{/if}}</td>
            </tr>
            <tr>
              <td>Speed</td>
              <td>{{svgObj.speed}}</td>
            </tr>
          </table>
        {{/if}}

        <form action="/{{newDir}}{{svgfile}}" method="post">

          <div class="field is-grouped mt-5">
            <div class="field is-horizontal">
              <div class="field-label is-normal" style="flex-grow: unset;">
                <label class="label" style="min-width: 80px">Webhook</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <div class="control is-expanded is-fullwidth">
                    <input class="input" style="min-width: 600px;" type="text" name="webhook" value="{{svgObj.webhook}}">
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-grouped mt-5">
            <div class="field is-horizontal">
              <div class="field-label is-normal" style="flex-grow: unset;">
                <label class="label" style="min-width: 80px">Speed</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control">
                    <input class="input" type="number" name="speed" value="{{svgObj.speed}}">
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <label class="checkbox control">
              <input type="checkbox" name="constSpeed" value="true" {{#if svgObj.constSpeed}}checked{{/if}}>
              Constant speed
            </label>
          </div>

          <div class="field">
            <label class="checkbox control">
              <input type="checkbox" name="brushless" value="true" {{#if svgObj.brushless}}checked{{/if}}>
              Brushless servo
            </label>
          </div>

          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link" name="action" value="preview">Preview</button>
              {{#if svgObj.time}}<button class="button is-primary" name="action" value="plot">Plot</button>{{/if}}
              <button class="button is-danger" name="action" value="delete">Delete</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <hr>
  {{/if}}

  <section class="section has-background-white">
    <div class="container">
      <ul>
        {{#each svgFiles}}
          <li>{{status}} <a href="/{{../newDir}}{{filename}}">{{filename}}</a></li>
        {{/each}}
      </ul>
    </div>
  </section>

  <hr>

  <section class="section has-background-white">
    <div class="container">
      <form action="/{{newDir}}{{svgfile}}" method="post">
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-link" name="action" value="sysinfo">Sysinfo</button>
            <button class="button is-link" name="action" value="version">Version</button>
            <button class="button is-primary" name="action" value="toggle">Toggle</button>
            <button class="button is-primary" name="action" value="toggle50">Toggle Brushless</button>
            <button class="button is-primary" name="action" value="align">Align</button>
            <button class="button is-info" name="action" value="walk_home">Walk Home</button>
          </div>
        </div>
        {{#if newDir}}
          {{#unless allFiles.length}}
            <div class="field">
              <div class="control">
                <button class="button is-danger" name="action" value="deleteDirectory">Delete current directory</button>
              </div>
            </div>
          {{/unless}}
        {{/if}}
      </form>

      <form action="/{{newDir}}{{svgfile}}" method="post" enctype="multipart/form-data" class="mt-5">

        <div id="file-js-example" class="file has-name field has-addons">
          <label class="file-label">
            <input class="file-input" type="file" name="thisfile">
            <span class="file-cta">
              <span class="file-label">
                Choose a file…
              </span>
            </span>
            <span class="file-name">
              No file uploaded
            </span>
          </label>
          <div class="control">
            <button class="button is-link" name="action" value="uploadFile">Upload</button>
          </div>
        </div>

        <script>
          const fileInput = document.querySelector('#file-js-example input[type=file]');
          fileInput.onchange = () => {
            if (fileInput.files.length > 0) {
              const fileName = document.querySelector('#file-js-example .file-name');
              fileName.textContent = fileInput.files[0].name;
            }
          }
        </script>
      </form>

    </div>
  </section>

  {{> footer}}
</body>

</html>